{% extends "index.html" %} {% block titulo %} Listar Herramientas {% endblock %} {% block body %}
<h1>Listado de herramientas</h1>

<body>
<h3>Listado avanzado</h3>


  <form action="/filtroherr/" method="GET">
    <h4>{{mensaje}}</h4>
    <!--Se incorpora mejora visual de la busqueda avanzada-->
    <div class="row">
      <div class="col">
        <input type="text" name= "nombre_activ" class="form-control" placeholder="Ingrese nombre del activo" aria-label="nombre_activ">
      </div>
      <div class="col">
        <div class="col-md-8">
        <select id="provee" name="provee" class="form-select" >
            <option selected value=''>Seleccionar Proveedor</option>
            {% for p in p %}
            <option value="{{p.proveedor}}" placeholder ="Ingrese proveedor">
                {{p.proveedor}}
            </option>
        {% endfor %} 
          </select>
        </div>
      </div>
      <div class="col">
        <div class="col-md-8">
          <select type="text" name="validar" id="validar" class="form-select">
            <option value="pigual">Precio igual</option> 
            <option value="pmayor">Precio mayor</option>
            <option value="pmenor">Precio menor</option>
        </select>
        </div>
        <input type="number" name = "prec" class="form-control" placeholder="Ingrese precio" aria-label="prec">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-block">Buscar</button>
        <button type="reset" class="btn btn-danger btn-block" onclick="document.location.href='/listarherramientas/'">Limpiar</button>
      </div>
    </div>
  </form>
  <!-- version 1 de tabla de busqueda avanzada
    <table>
      <tr>
          <td>Ingrese Nombre del Activo </td>
          <td><input type="text" name="nombre_activ"> </td>
      </tr>
       <td><select type="text" name="validar" id="validar">
            <option value="pmayor">Precio mayor</option>
            <option value="pmenor">Precio menor</option>
            <option value="pigual">Precio igual</option> </td>
        </select>
        <td><input type="number" name="prec"></td>
      <tr>

          <td><input type="submit" value="Buscar"></td>
          <td></td>
      </tr>
  </table>
 -->
</body>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID Activo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Marca</th>
            <th scope="col"> Estado de actividad</th>

          </tr>
        </thead>
        <tbody>
            <tbody>
                {% for x in  herramientas %}
                <tr>
                    <td>{{x.activo_id}}</td>
                    <td>{{x.activo.nombre_activo }}</td>
                    <td>{{x.activo.cantidad}}</td>
                    <td>{{x.activo.precio}}</td>
                    <td>{{x.proveedor}}</td>
                    <td>{{x.marca}}</td>
                    <td>{{x.activo.estado}}</td>

                </tr>
                {% endfor %}
            </tbody>
            <tbody>
                {% if fullhtas %}
              <!--  <h4>La Herramienta es : {{query}}</h4><br> -->
                    {% for q in fullhtas %}
                    <tr>
                    <td>{{q.activo.id_activo}}</td>
                    <td>{{q.activo.nombre_activo}}</td>
                    <td>{{q.activo.cantidad}}</td>
                    <td>{{q.activo.precio}}</td>
                    <td>{{q.proveedor}}</td>
                    <td>{{q.activo.estado}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
        
            </tbody>
        
      </table>


{% endblock %}
