{% extends "index.html" %} {% block titulo %} Herramientas {% endblock %} {% block body %}
<h1>Registro de Maquinas</h1>
<form action="/registrarMaquinaria/" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <table>
        <tr>
            <td>Id activo</td>
            <td><input type="text" name="id_activo" readonly="yes" value="{{idid}}"/></td>
        </tr>
        <tr>
            <td>Estado de Actividad</td>
            <td><input type="text" name="estado" readonly="yes" value="Activo"/></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" name="nombre_activo" placeholder="Ingrese nombre del activo" required/></td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td><input type="number" name="cantidad" placeholder="Ingrese cantidad" min= "1" required/></td>
        </tr>
        <tr>
            <td>Precio</td>
            <td><input type="number" name="precio" placeholder="Ingrese precio de la herramienta" min= "1" required/></td>
        </tr>
        <tr>
        <tr>
            <td>Diseño Maquina</td>
            <td><input type="file" name="disenomaq" placeholder="Ingrese diseno de la maquina"  accept="image/png,image/jpeg" required/></td>
        </tr>
        <tr>
            <td>Material Estructura</td>
            <td><input type="text" name="estructuramaq" placeholder="Ingrese la marca de la maquina"required/></td>
        </tr>
        
    </table>
    <div class="form-group py-5">
        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
        <button type="reset" class="btn btn-danger btn-block" onclick="document.location.href='#'">Cancelar</button>
    </div>
</form>

{% endblock %}