{% extends "index.html" %} {% block titulo %} Maquinaria {% endblock %} {% block body %}
<h1>Eliminar Maquinaria</h1>


<form action="/eliminarmaq/" method="get"> {% csrf_token %}
    <div class="form-group py-2">
        Ingrese ID Herramienta
        <input type="text" id="idactivo" name="idactivo" class="form-control" placeholder="Ingrese ID por ejemplo: 000SMAf23Mj6"
        maxlength="30" required>
    </div>
    <div class="form-group py-5">
        <button type="submit" class="btn btn-success btn-block">Buscar</button>
        <button type="reset" class="btn btn-danger btn-block" onclick="document.location.href='#'">Cancelar</button>
    </div>
</form>

<h1>{{mensaje}}</h1>
<form action="eliminarmaq" method="post"> {% csrf_token %}
    <table>
        <tr>
            <td>Id activo</td>
            <td><input type="text" name="id_activo" readonly="yes" value="{{acti.id_activo}}"/></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" name="nombre_maquina" readonly="yes" value="{{acti.nombre_activo}}"/></td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td><input type="text" name="cantidad" readonly="yes" value="{{acti.cantidad}}"/></td>
        </tr>
        <tr>
            <td>Precio</td>
            <td><input type="text" name="precio"  readonly="yes" value="{{acti.precio}}"/></td>
        </tr>

        <tr>
            <td>Estado de actividad</td>
            <td><input type="text" name="estado" readonly="yes" value="{{acti.estado}}"/></td>
        </tr>
        <tr>
            <td>Diseño</td>
            <td><input type="file" name="disenomaq" readonly="yes" value="{{maqui.diseño_maquinaria}}"/></td>
        </tr>
        <tr>
            <td>Estructura de maquina</td>
            <td><input type="text" name="estructuramaq" readonly="yes" value="{{maqui.material_estructura}}"/></td>
        </tr>         
    </table>
    <div class="form-group py-5">
        <button type="submit" class="btn btn-success btn-block">Eliminar</button>
        <button type="reset" class="btn btn-danger btn-block" onclick="document.location.href='#'">Cancelar</button>
    </div>
</form>

{% endblock %}
